    #main-content, ul#folio li{  
        background:transparent;  
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#30000000,endColorstr=#30000000);  
        zoom: 1;  
    }  
    ul#folio li:hover{  
        background:transparent;  
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#10000000,endColorstr=#10000000);  
        zoom: 1;  
    }  